<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/dashboard/Logoponal.png" type="image/png">
    <title>CA Colombia | Base de Datos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/dashboard/styles.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="/login/logo_pol.png" alt="Policía Nacional de Colombia">
        </div>
        <nav>
            <ul>
                <li><a href="https://cacolombia.website/police-page.html">INICIO</a></li>
                <li><a href="https://discord.gg/cacolombiarp">CONTACTÉNOS</a></li>
                <li><a href="https://cacolombia.website/notas.html">NOTAS DEL DESARROLLADOR</a></li>

                
            </ul>
        </nav>
    </header>
    
    <main>
      <div class="maincontainer">
        <div class="headermain">
            <h2 class="headertittle">BASE DE DATOS PONAL</h2>
            <div class="search-options-box">
               
                <nav>
                      <div class="InputContainer">
                        <input type="text" name="text" class="input" id="input" placeholder="Buscar placa o documento">
                        
                        <label for="input" class="labelforsearch">
                     
                      </label>
                      <div class="border"></div>
                      
                      <button class="search-button" onclick="getIdByDoc()">
                        <i class="fa-solid fa-magnifying-glass" style="color: #007b5f;"></i>
                    </button>
                      
                      </div>
                </nav>
          
            </div>
            
        </div>
        <div class="main-box">
            <div class="lateral-box">
                <img id="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Avatar">
                <p><strong>Nombre:</strong> <span id="nombre"></span></p>
                <p><strong>Apellido:</strong> <span id="apellido"></span></p>
                <p><strong>Nacionalidad:</strong> <span id="nacionalidad"></span></p>
                <p><strong>Estatura:</strong> <span id="estatura"></span> cm</p>
                <p><strong>Sexo:</strong> <span id="sexo"></span></p>
                <p><strong>Fecha de Nacimiento:</strong> <span id="fechanacimiento"></span></p>
                <p><strong>Edad:</strong> <span id="edad"></span></p>
                <p><strong>G.S:</strong> <span id="gs"></span></p>
                <p><strong>Username:</strong> <span id="username"></span></p>
                <p><strong>Numero de documento:</strong> <span id="ndoc"></span></p>
            </div>
            <div class="right-content-box">
                <div class="table-container">
                    <label for="table-licencia">LICENCIA</label>
                    <table id="table-licencia">
                        <tr><th>LICENCIA DE CONDUCIR</th><th>CATEGORIA</th><th>FECHA DE EXPEDICIÓN</th><th>RESTRICCIONES</th></tr>
                    </table>
                    <br>
                    <label for="table-vehiculos">VEHICULOS</label>
                    <table id="table-vehiculos">
                        <tr><th>NOMBRE</th><th>PLACA</th><th>COLOR</th></tr>
                    </table>
                    <br>

                    <label for="table-antecedentes">ANTECEDENTES</label>
                    <table id="table-antecedentes">
                        <tr><th>ANTECEDENTES</th><th>TIEMPO</th><th>AGENTE</th><th>FECHA DE REGISTRO</th></tr>
                    </table>
                    <br>

                    <label for="table-multas">MULTAS</label>
                    <table id="table-multas">
                        <tr><th>ARTICULOS</th><th>PLACA</th><th>VALOR</th><th>AGENTE</th><th>FECHA DE REGISTRO</th></tr>
                    </table>
                    <br>

                    <label for="table-observaciones">OBSERVACIONES</label>
                    <table id="table-observaciones">
                        <tr><th>OBSERVACIONES</th></tr>
                    </table>
                    <br>
                    <label for="table-byc">BUSQUEDA Y CAPTURA</label>
                    <table id="table-byc">
                        <tr><th>estado</th></tr>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="form-buttons">
          <button onclick="toggleForm('form-multas', 'form-arrestos')">Subir Multa</button>
          <button onclick="toggleForm('form-arrestos', 'form-multas')">Subir Arresto</button>
          <button onclick="cerrarSesion()" style="background-color: red; color: white;">Cerrar sesión</button>

          
    </div>  
     <div class="registros">
       
        <div id="form-multas" class="form-container" style="display: none;">
            <h2>Subir Multa</h2>
            <form id="upload-ticket-form">
                <label for="selector">Tipo</label>
                <select name="type" id="selector" class="styled-select" required>
                    <option value="multa">Multa</option>
                    <option value="Comparendo">Comparendo</option>
                </select>
                
                <label for="articulos-multa">Artículos:</label>
                <input type="text" id="articulos-multa" name="record" required>
        
                <label for="placa-multa">Placa:</label>
                <input type="text" id="placa-multa" name="plate" required>
        
                <label for="valor-multa">Valor:</label>
                <input type="number" id="valor-multa" name="value" required>
        
                <label for="">Información del agente encargado: <br> <strong>Nombre:<%=userdata.nombreic%></strong> <br><strong>Apellido:<%=userdata.apellidoic%></strong> <br><strong>Numero de documento:<%=userdata.documentId%></strong> <br> </label> 
        
                <label for="">Información de la persona a procesar: <br> <strong id="name-form">Nombre:</strong> <br><strong id="lastName-form">Apellido:</strong> <br><strong id="documentId-form">Numero de documento:</strong> <br> </label>  
        
                <button type="submit">Subir Multa</button>
            </form>
        </div>

        
        <div id="form-arrestos" class="form-container" style="display: none;">
            <h2>Subir Arresto</h2>
            <form id="upload-arrest-form">
                <label for="articulo-arresto">Artículo:</label>
                <input type="text" id="articulo-arresto" name="record" required>
            
                <label for="tiempo-arresto">Tiempo en meses:</label>
                <input type="number" id="tiempo-arresto" name="time" required>
            
                <label for="photo">Foto:</label>
                <input type="file" id="photo" name="photo" required> 
        
                <label for="">Información del agente encargado: <br> <strong>Nombre:<%=userdata.nombreic%></strong> <br><strong>Apellido:<%=userdata.apellidoic%></strong> <br><strong>Numero de documento:<%=userdata.documentId%></strong> <br> </label> 
        
                <label for="">Información de la persona a procesar: <br> <strong id="name-form2">Nombre:</strong> <br><strong id="lastName-form2">Apellido:</strong> <br><strong id="documentId-form2">Numero de documento:</strong> <br> </label>  
        
                <button type="submit">Subir Arresto</button>
            </form>
        </div>
     </div>

      
    </main>
    
    <div id="loading" class="loading-container">
        <div class="spinner"></div>
        <p>Cargando...</p>
    </div>

    <footer>
        <div class="footer-info">
            <label id="parragraf">Este sitio web es un proyecto de ficción y parodia inspirado en actividades de roleplay.<br>
                No está afiliado, patrocinado ni respaldado por la Policía Nacional de Colombia ni por alguna entidad pública o privada.<br>
                Todos los nombres, logotipos y referencias son utilizados con fines creativos.<br>
                Página exclusiva de 「CA」 Colombia ER:LC
            </label>
        </div>
        <div class="footer-links"></div>
    </footer>

 
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    let personInfo;
    let searchPerson;
    const agentName='<%=userdata.nombreic%>'+" "+"<%=userdata.apellidoic%>";
    function toggleForm(formId,formId2) {
        if(!searchPerson){
            return
        }else{
            document.getElementById('name-form').innerText = "Nombre:"+personInfo.nombreic
            document.getElementById('lastName-form').innerText ="Apellido:"+personInfo.apellidoic
            document.getElementById('documentId-form').innerText ="Numero de documento:"+personInfo.documentId
            document.getElementById('name-form2').innerText = "Nombre:"+personInfo.nombreic
            document.getElementById('lastName-form2').innerText ="Apellido:"+personInfo.apellidoic
            document.getElementById('documentId-form2').innerText ="Numero de documento:"+personInfo.documentId
        }
  
    const form = document.getElementById(formId);
    const form2 = document.getElementById(formId2);
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
    form2.style.display = 'none'
}
document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('input'); 
    const searchButton = document.querySelector('.search-button'); 

    // Escuchar el evento keydown en el input
    searchInput.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') { 
            event.preventDefault(); 
            searchButton.click(); 
        }
    });
});
document.addEventListener('DOMContentLoaded', function () {
    const multasForm = document.getElementById('upload-ticket-form');
    const arrestosForm = document.getElementById('upload-arrest-form');

    // Función para enviar los datos de multas
    multasForm.addEventListener('submit', function (event) {
        setLoadingOn()
        event.preventDefault();

        const data = {
            type: document.getElementById('selector').value,
            record: document.getElementById('articulos-multa').value,
            plate: document.getElementById('placa-multa').value,
            value: document.getElementById('valor-multa').value,
          
           
        };

        axios.post('/v1/sendticket', {ticketData:data,agentName:agentName,pedData:personInfo})
            .then(response => {
                console.log('Multa subida:', response.data);
                setLoadingOff()
                alert('Multa subida exitosamente');
                multasForm.reset(); 
                
            })
            .catch(error => {
                setLoadingOff()
                console.error('Error al subir la multa:', error);
                alert('Hubo un error al subir la multa');
            });
    });

    arrestosForm.addEventListener('submit', function (event) {
    event.preventDefault();
    setLoadingOn();


    const data = {
        ticketData: {
            record: document.getElementById('articulo-arresto').value,
            time: document.getElementById('tiempo-arresto').value
        },
        agentName: agentName,
        pedData: personInfo
    };

    const photo = document.getElementById('photo').files[0];


    const formData = new FormData();
    
  
    formData.append('data', JSON.stringify(data));
    

    formData.append('photo', photo);


    axios.post('/v1/sendrecord', formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
    .then(response => {
        console.log('Arresto subido:', response.data);
        setLoadingOff();
        alert('Arresto subido exitosamente');
        arrestosForm.reset();
    })
    .catch(error => {
        console.error('Error al subir el arresto:', error);
        setLoadingOff();
        alert('Hubo un error al subir el arresto');
    });
});
});
</script>
<script>
    function cerrarSesion() {
   
    axios.post('/v1/logout') 
        .then(response => {
        
            window.location.reload();
        })
        .catch(error => {
            console.error('Error al cerrar sesión:', error);
            alert('Hubo un error al cerrar la sesión');
        });
}
</script>
<script src="/dashboard/getinfo.js"></script>

</html>


